install 
opencv-python 
numpy 
pillow
tqdm
pydantic

[
  {
    "size": 1,
    "orientation": "Landscape",
    "path": "templates/Landscape/landscape-bath.jpg",
    "dimensions": ["826,532"],
    "box": ["284,296"]
  },
  {
    "size": 1,
    "orientation": "Landscape",
    "path": "templates/Landscape/landscape-bedroom.jpg",
    "dimensions": ["725,467"],
    "box": ["483,180"]
  },
  {
    "size": 1,
    "orientation": "Landscape",
    "path": "templates/Landscape/landscape-kitchen.jpg",
    "dimensions": ["1047,673"],
    "box": ["391,273"]
  },
  {
    "size": 1,
    "orientation": "Landscape",
    "path": "templates/Landscape/landscape-living.jpg",
    "dimensions": ["827,532"],
    "box": ["387,147"]
  },
  {
    "size": 1,
    "orientation": "Landscape",
    "path": "templates/Landscape/landscape-stool.jpg",
    "dimensions": ["1003,645"],
    "box": ["92,82"]
  },
  {
    "size": 1,
    "orientation": "Landscape",
    "path": "templates/Landscape/landscape-wall-main.jpg",
    "dimensions": ["1200,800"],
    "box": ["300,200"]
  },
  {
    "size": 1,
    "orientation": "Landscape",
    "path": "templates/Landscape/landscape-wall-main-transparent.jpg",
    "dimensions": ["1200,800"],
    "box": ["350,250"]
  },
  {
    "size": 1,
    "orientation": "Portrait",
    "path": "templates/Portrait/portrait-bath.jpg",
    "dimensions": ["541,743"],
    "box": ["426,184"]
  },
  {
    "size": 1,
    "orientation": "Portrait",
    "path": "templates/Portrait/portrait-bedroom.jpg",
    "dimensions": ["383,542"],
    "box": ["609,124"]
  },
  {
    "size": 1,
    "orientation": "Portrait",
    "path": "templates/Portrait/portrait-kitchen.jpg",
    "dimensions": ["665,940"],
    "box": ["561,105"]
  },
  {
    "size": 1,
    "orientation": "Portrait",
    "path": "templates/Portrait/portrait-living.jpg",
    "dimensions": ["439,621"],
    "box": ["590,112"]
  },
  {
    "size": 1,
    "orientation": "Portrait",
    "path": "templates/Portrait/portrait-stool.jpg",
    "dimensions": ["659,906"],
    "box": ["125,82"]
  },
  {
    "size": 1,
    "orientation": "Portrait",
    "path": "templates/Portrait/portrait-wall-main.jpg",
    "dimensions": ["900,1400"],
    "box": ["225,350"]
  },
  {
    "size": 1,
    "orientation": "Portrait",
    "path": "templates/Portrait/portrait-wall-main-transparent.jpg",
    "dimensions": ["900,1400"],
    "box": ["225,350"]
  },
  {
    "size": 1,
    "orientation": "Square",
    "path": "templates/Square/square-bath.jpg",
    "dimensions": ["552,552"],
    "box": ["421,282"]
  },
  {
    "size": 1,
    "orientation": "Square",
    "path": "templates/Square/square-bedroom.jpg",
    "dimensions": ["522,522"],
    "box": ["539,134"]
  },
  {
    "size": 1,
    "orientation": "Square",
    "path": "templates/Square/square-kitchen.jpg",
    "dimensions": ["827,827"],
    "box": ["482,180"]
  },
  {
    "size": 1,
    "orientation": "Square",
    "path": "templates/Square/square-living.jpg",
    "dimensions": ["537,537"],
    "box": ["513,142"]
  },
  {
    "size": 1,
    "orientation": "Square",
    "path": "templates/Square/square-stool.jpg",
    "dimensions": ["659,659"],
    "box": ["159,75"]
  },
  {
    "size": 1,
    "orientation": "Square",
    "path": "templates/Square/square-wall-main.jpg",
    "dimensions": ["800,800"],
    "box": ["400,400"]
  },
  {
    "size": 1,
    "orientation": "Square",
    "path": "templates/Square/square-wall-main-transparent.jpg",
    "dimensions": ["800,800"],
    "box": ["400,400"]
  }
]
